.foo {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    font-size: 1.5vw;
}

.bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    transition: .2s;
    box-shadow: 0px 5px 10px 2px #424242;
}

.test:hover {
    width: 85%;
    height: 85%;
    transition: .2s;
    background-color: #f1cd00bd;
}

.container {
    position: absolute;
    display: flex;
    z-index: 2;
    left: 59px;
    width: 96%;
    height: 98.3%;
    box-sizing: border-box;
    justify-content: space-around;
    flex-wrap: wrap;
}