<!-- <app-menu></app-menu> -->
<section id="colorized"></section>
<!-- <router-outlet></router-outlet> -->

<div id="wrapper">
  <app-sidebar></app-sidebar>
  
    <article class="container">
        <div class="foo">
            <div class="bar">
                <div class="test"><h2>MY ACCOUNT</h2><span class="fa fa-odnoklassniki fa-5x"></span></div>
            </div>
            <div class="bar">
                <div class="test"><h2>MY FILES</h2><span class="fa fa-file fa-5x"></span></div>
            </div>
            <div class="bar">
                <div class="test"><h2>UPLOAD FILES</h2><span class="fa fa-upload fa-5x"></span></div>
            </div>
        </div>
    </article>
</div>