@import url('https://fonts.googleapis.com/css?family=Roboto|Poppins|Luckiest+Guy|Englebert|Mallanna');


html, body {
    margin: 0;
}

body {
    height: 100vh;
    overflow: hidden;
}
nav {
    display: flex;
    position: relative;
    z-index: 5;
    height: 20vh;
    justify-content: space-between;
    background-color: #424242;
    color: whitesmoke;
    align-content: center;
    font-family: 'Poppins', cursive;
    box-sizing: border-box;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav li {
    display: flex;    
    width: 25vh;
    height: 100%;
    align-items: center;
    justify-content: center;    
    font-size: 3vh;
    transition: .2s;
}

nav h1 {
    display: flex;    
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Englebert', cursive;
    font-size: 6vh;
}

nav a {
    text-decoration: none;
    pointer-events: none;
    color : whitesmoke;
}

nav span:hover, nav li:hover {
    background-color: #f1cd00;
    font-size: 4vh;
    box-shadow: 0px 10px #424242;
    transition: .3s;
}
nav span:hover a, nav li:hover a {
color: #424242;
}

nav span {
    display: flex;
    width: 25vh;
    height: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    transition: .2s;    
}

h2 {
    font-family: 'Englebert', cursive;
    margin: 0 0 10px 0;
}

app-sidebar {
    display: flex;
}


#wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 80vh;
}

#colorized {
    width: 100%;
    height: 10px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 300% 300%;
	animation: anim 8s ease infinite;
    transition: all 0.25s linear;
}

@keyframes anim {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}
