<aside id="sidebar">
  <ul id="side-menu">
      <li><a routerLink='home'><span class="fa fa-code"></span>Home</a></li>
      <li><a routerLink='personal'><span class="fa fa-odnoklassniki"></span>My account</a></li>
      <li><a routerLink='files'><span class="fa fa-file"></span>My files</a></li>
      <li><a routerLink='upload'><span class="fa fa-upload"></span>Upload files</a></li>
      <li><a routerLink='settings'><span class="fa fa-cog"></span>Settings</a></li>
      <li><a routerLink='contact'><span class="fa fa-envelope"></span>Contact</a></li>
      <li><a routerLink='logout '><span class="fa fa-sign-out"></span>Logout</a></li>
  </ul>
</aside>
