#side-menu {
    font-family: 'Mallanna', sans-serif;
    z-index: 6;
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height:100%;
    width: 4vw;
    min-width: 60px;
    list-style-type: none;
    background: #f1cd00;
    overflow: hidden;
    transition: width .5s;
  }
  
  #side-menu:hover {
    width: 300px;
    z-index: 6;
  }
  
  #side-menu li {
    width: 300px;
    z-index: 6;
    margin: 0;
  }
  
  #side-menu li span {
    font-size: 1rem;
    margin: 20px 30px 0 22px;
    z-index: 6;
  }
  
  #side-menu li a {
    display: block;
    font-size: .9rem;
    text-decoration: none;
    color: #424242;
    height: 60px;
    z-index: 6;
  }
  
  #side-menu li:nth-child(1) a {
      color: #fff;
  }
  
  #side-menu li a:hover, #side-menu li:first-child a {
    background: #424242;
    color: #fff;
    display: block;
    z-index: 6;
    transition: .1s;
  }